<html>
	<head>
		<title>Promesas Políticas</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'Promesas/style.css' %}" media="screen" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
			<h1>
				Promesas Políticas
			</h1>
			</div>
		</div>
		<div class="wrapper">
			<div class="content">
				<h2> Candidatos </h1>
				{% for candidato in candidatos_actual_list %}	
				<div class="box_perfil">
					<div class="box_photo">
						<img src="gobierno_de_chile.jpg" height="150" width="150" />
						<h2>{{ candidato.nombre }}</h2>
					</div>
					<div class="box_prom">
						<div class="single_prom first">
							+ Volver a la gente loca
						</div>
						<div class="single_prom second">
							+ Ayudar a empobrecer el pais
						</div>
						<div class="single_prom first">
							+ Juegos de azar y muuuuuuuucho más
						</div>
					</div>
					<div class="box_actions">
						<a href="{% url 'perfil' candidato.id %}"><input type="button" value="Ver mas" /></a>
					</div>
					<div class="clear">
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div calss="wrapper">
			<div class="footer">
			</div>
		</div>
	</body>
</html>
